.header {
  border-radius: 6px 6px 0 0;
  background-color: #2979ff;
  height: 32px;
}
.header__green-dot {
  height: 6px;
  width: 6px;
  border-radius: 100%;
  background-color: #69f0ae;
  float: left;
  margin-top: 12px;
  margin-left: 7px;
}
.header__name {
  height: 32px;
  margin: 0;
  float: left;
  padding: 7px;
  font-size: 13px;
  color: #ffffff;
  font-weight: bold;
  font-family: OpenSans, sans-serif;
}
.header__items {
  list-style-type: none;
  margin: 0;
  float: right;
  padding-left: 0;
}
.header__li {
  display: inline-block;
  width: 18px;
  height: 32px;
  margin: 0 3px;
  background: no-repeat center;
}
.header__li_plus {
  background-image: url("../../icons/Plus.svg");
}
.header__li_camera {
  background-image: url("../../icons/Video.svg");
}
.header__li_cog {
  background-image: url("../../icons/Cog.svg");
}
.header__li_close {
  background-image: url("../../icons/Close.svg");
}
