.input-form {
  height: 62px;
  background-color: #ffffff;
}
.input-form__type-message {
  border: 0;
  width: 100%;
  outline: none;
  padding: 7px 0 0 17px;
  box-sizing: border-box;
}
.input-form__items {
  list-style-type: none;
  float: left;
  margin-left: 15px;
  margin-top: 5px;
}
.input-form__button {
  border: 0;
  outline: 0;
  display: inline-block;
  width: 22px;
  height: 18px;
  margin-right: 2px;
  background: no-repeat center;
  text-indent: -9999px;
}
.input-form__button_picture {
  background-image: url("../icons/Picture.svg");
}
.input-form__button_gif {
  background-image: url("../icons/Gif.svg");
}
.input-form__button_smile {
  background-image: url("../icons/Smile.svg");
}
.input-form__button_calendar {
  background-image: url("../icons/Calendar.svg");
}
.input-form__button_camera {
  background-image: url("../icons/Camera.svg");
}
